In [52]:
import pandas as pd
import csv
from sklearn import datasets

In [50]:
def formatRegressionFormat(data, outputFilePath, positive = 'Yes', negative = 'No'):
    # Usage Example:
    # household1 = pd.read_csv(r'./dataset/Makana Island Household Dataset.csv')
    # household1.drop(['Unnamed: 0', 'Country', 'District', 'Age', 'Occupation',
    #       'Economic Status',
    #       'Annual Income (in USD)', 'Marital Status', 'Number of Children',
    #       'Number of Dependents', 'Luxury Items Owned',
    #       'Level of Education'], axis = 1, inplace = True)
    # formatRegressionFormat(household1, './dataset/householdTest.csv')
    
    def encode(x, positive, negative):
        if x == positive:
            return 1
        elif x == negative:
            return 0
    
    for column in data.columns:
        data[column] = [encode(x, positive, negative) for x in data[column]]
    
    values = [list(x) for x in list(data.values)]
   
    for i in range(len(values)):
        for j in range(5):
            values[i][j] = str(values[i][j]) + ','
    data_csv = open(outputFilePath, 'w')
    for i in range(len(values)):
        for j in range(len(values[i])):
            data_csv.write(str(values[i][j]))
        data_csv.write('\n')
    data_csv.close()
    print('File successfully formatted as csv and saved at {0}'.format(outputFilePath))

In [2]:
df = pd.read_csv(r"./dataset/file_movement_dataset.csv")

In [3]:
df.head(2)

,File Name,File Extension,File Size (Bytes),File Size (KB),File Size (MB),File Creation Time,Last Modified Time,Destination Folder
0,file_1,.aac,1003387,979.87,0.96,1.702799e+09,1.707166e+09,Music
1,file_2,.bmp,59455,58.06,0.06,1.696625e+09,1.705007e+09,Pictures

In [4]:
df['Destination Folder'].value_counts()

Documents    24
Downloads    21
Scripts      21
Pictures     20
CAD          18
Videos       16
Music        13
Web          11
PowerBI       3
Notebooks     3
Name: Destination Folder, dtype: int64

# 
# 
# 
# 
# 
# 
#

In [5]:
iris = pd.read_csv(r'./dataset/iris2.csv')

In [40]:
del iris['Iris-Setosa']

In [42]:
iris.values

array([[1.00e+00, 4.90e+00, 3.00e+00, 1.40e+00, 2.00e-01, 0.00e+00],
       [2.00e+00, 4.70e+00, 3.20e+00, 1.30e+00, 2.00e-01, 0.00e+00],
       [3.00e+00, 4.60e+00, 3.10e+00, 1.50e+00, 2.00e-01, 0.00e+00],
       [4.00e+00, 5.00e+00, 3.60e+00, 1.40e+00, 2.00e-01, 0.00e+00],
       [5.00e+00, 5.40e+00, 3.90e+00, 1.70e+00, 4.00e-01, 0.00e+00],
       [6.00e+00, 4.60e+00, 3.40e+00, 1.40e+00, 3.00e-01, 0.00e+00],
       [7.00e+00, 5.00e+00, 3.40e+00, 1.50e+00, 2.00e-01, 0.00e+00],
       [8.00e+00, 4.40e+00, 2.90e+00, 1.40e+00, 2.00e-01, 0.00e+00],
       [9.00e+00, 4.90e+00, 3.10e+00, 1.50e+00, 1.00e-01, 0.00e+00],
       [1.00e+01, 5.40e+00, 3.70e+00, 1.50e+00, 2.00e-01, 0.00e+00],
       [1.10e+01, 4.80e+00, 3.40e+00, 1.60e+00, 2.00e-01, 0.00e+00],
       [1.20e+01, 4.80e+00, 3.00e+00, 1.40e+00, 1.00e-01, 0.00e+00],
       [1.30e+01, 4.30e+00, 3.00e+00, 1.10e+00, 1.00e-01, 0.00e+00],
       [1.40e+01, 5.80e+00, 4.00e+00, 1.20e+00, 2.00e-01, 0.00e+00],
       [1.50e+01, 5.70e+00, 4.40e+00, 1.50e+00, 4.00e-01, 0.00e+00],
       [1.60e+01, 5.40e+00, 3.90e+00, 1.30e+00, 4.00e-01, 0.00e+00],
       [1.70e+01, 5.10e+00, 3.50e+00, 1.40e+00, 3.00e-01, 0.00e+00],
       [1.80e+01, 5.70e+00, 3.80e+00, 1.70e+00, 3.00e-01, 0.00e+00],
       [1.90e+01, 5.10e+00, 3.80e+00, 1.50e+00, 3.00e-01, 0.00e+00],
       [2.00e+01, 5.40e+00, 3.40e+00, 1.70e+00, 2.00e-01, 0.00e+00],
       [2.10e+01, 5.10e+00, 3.70e+00, 1.50e+00, 4.00e-01, 0.00e+00],
       [2.20e+01, 4.60e+00, 3.60e+00, 1.00e+00, 2.00e-01, 0.00e+00],
       [2.30e+01, 5.10e+00, 3.30e+00, 1.70e+00, 5.00e-01, 0.00e+00],
       [2.40e+01, 4.80e+00, 3.40e+00, 1.90e+00, 2.00e-01, 0.00e+00],
       [2.50e+01, 5.00e+00, 3.00e+00, 1.60e+00, 2.00e-01, 0.00e+00],
       [2.60e+01, 5.00e+00, 3.40e+00, 1.60e+00, 4.00e-01, 0.00e+00],
       [2.70e+01, 5.20e+00, 3.50e+00, 1.50e+00, 2.00e-01, 0.00e+00],
       [2.80e+01, 5.20e+00, 3.40e+00, 1.40e+00, 2.00e-01, 0.00e+00],
       [2.90e+01, 4.70e+00, 3.20e+00, 1.60e+00, 2.00e-01, 0.00e+00],
       [3.00e+01, 4.80e+00, 3.10e+00, 1.60e+00, 2.00e-01, 0.00e+00],
       [3.10e+01, 5.40e+00, 3.40e+00, 1.50e+00, 4.00e-01, 0.00e+00],
       [3.20e+01, 5.20e+00, 4.10e+00, 1.50e+00, 1.00e-01, 0.00e+00],
       [3.30e+01, 5.50e+00, 4.20e+00, 1.40e+00, 2.00e-01, 0.00e+00],
       [3.40e+01, 4.90e+00, 3.10e+00, 1.50e+00, 2.00e-01, 0.00e+00],
       [3.50e+01, 5.00e+00, 3.20e+00, 1.20e+00, 2.00e-01, 0.00e+00],
       [3.60e+01, 5.50e+00, 3.50e+00, 1.30e+00, 2.00e-01, 0.00e+00],
       [3.70e+01, 4.90e+00, 3.60e+00, 1.40e+00, 1.00e-01, 0.00e+00],
       [3.80e+01, 4.40e+00, 3.00e+00, 1.30e+00, 2.00e-01, 0.00e+00],
       [3.90e+01, 5.10e+00, 3.40e+00, 1.50e+00, 2.00e-01, 0.00e+00],
       [4.00e+01, 5.00e+00, 3.50e+00, 1.30e+00, 3.00e-01, 0.00e+00],
       [4.10e+01, 4.50e+00, 2.30e+00, 1.30e+00, 3.00e-01, 0.00e+00],
       [4.20e+01, 4.40e+00, 3.20e+00, 1.30e+00, 2.00e-01, 0.00e+00],
       [4.30e+01, 5.00e+00, 3.50e+00, 1.60e+00, 6.00e-01, 0.00e+00],
       [4.40e+01, 5.10e+00, 3.80e+00, 1.90e+00, 4.00e-01, 0.00e+00],
       [4.50e+01, 4.80e+00, 3.00e+00, 1.40e+00, 3.00e-01, 0.00e+00],
       [4.60e+01, 5.10e+00, 3.80e+00, 1.60e+00, 2.00e-01, 0.00e+00],
       [4.70e+01, 4.60e+00, 3.20e+00, 1.40e+00, 2.00e-01, 0.00e+00],
       [4.80e+01, 5.30e+00, 3.70e+00, 1.50e+00, 2.00e-01, 0.00e+00],
       [4.90e+01, 5.00e+00, 3.30e+00, 1.40e+00, 2.00e-01, 0.00e+00],
       [5.00e+01, 7.00e+00, 3.20e+00, 4.70e+00, 1.40e+00, 1.00e+00],
       [5.10e+01, 6.40e+00, 3.20e+00, 4.50e+00, 1.50e+00, 1.00e+00],
       [5.20e+01, 6.90e+00, 3.10e+00, 4.90e+00, 1.50e+00, 1.00e+00],
       [5.30e+01, 5.50e+00, 2.30e+00, 4.00e+00, 1.30e+00, 1.00e+00],
       [5.40e+01, 6.50e+00, 2.80e+00, 4.60e+00, 1.50e+00, 1.00e+00],
       [5.50e+01, 5.70e+00, 2.80e+00, 4.50e+00, 1.30e+00, 1.00e+00],
       [5.60e+01, 6.30e+00, 3.30e+00, 4.70e+00, 1.60e+00, 1.00e+00],
       [5.70e+01, 4.90e+00, 2.40e+00, 3.30e+00, 1.00e+00, 1.00e+00],
       [5.80e+01, 6.60e+00, 2.90e+00, 4.60e+00, 1.30e+00, 1.00e+00],
       [5.90e+01, 5.20e+00, 2.70e+00, 3.90e+00, 1.40e+00, 1.00e+00],
       [6.00e+01, 5.00e+00, 2.00e+00, 3.50e+00, 1.00e+00, 1.00e+00],
       [6.10e+01, 5.90e+00, 3.00e+00, 4.20e+00, 1.50e+00, 1.00e+00],
       [6.20e+01, 6.00e+00, 2.20e+00, 4.00e+00, 1.00e+00, 1.00e+00],
       [6.30e+01, 6.10e+00, 2.90e+00, 4.70e+00, 1.40e+00, 1.00e+00],
       [6.40e+01, 5.60e+00, 2.90e+00, 3.60e+00, 1.30e+00, 1.00e+00],
       [6.50e+01, 6.70e+00, 3.10e+00, 4.40e+00, 1.40e+00, 1.00e+00],
       [6.60e+01, 5.60e+00, 3.00e+00, 4.50e+00, 1.50e+00, 1.00e+00],
       [6.70e+01, 5.80e+00, 2.70e+00, 4.10e+00, 1.00e+00, 1.00e+00],
       [6.80e+01, 6.20e+00, 2.20e+00, 4.50e+00, 1.50e+00, 1.00e+00],
       [6.90e+01, 5.60e+00, 2.50e+00, 3.90e+00, 1.10e+00, 1.00e+00],
       [7.00e+01, 5.90e+00, 3.20e+00, 4.80e+00, 1.80e+00, 1.00e+00],
       [7.10e+01, 6.10e+00, 2.80e+00, 4.00e+00, 1.30e+00, 1.00e+00],
       [7.20e+01, 6.30e+00, 2.50e+00, 4.90e+00, 1.50e+00, 1.00e+00],
       [7.30e+01, 6.10e+00, 2.80e+00, 4.70e+00, 1.20e+00, 1.00e+00],
       [7.40e+01, 6.40e+00, 2.90e+00, 4.30e+00, 1.30e+00, 1.00e+00],
       [7.50e+01, 6.60e+00, 3.00e+00, 4.40e+00, 1.40e+00, 1.00e+00],
       [7.60e+01, 6.80e+00, 2.80e+00, 4.80e+00, 1.40e+00, 1.00e+00],
       [7.70e+01, 6.70e+00, 3.00e+00, 5.00e+00, 1.70e+00, 1.00e+00],
       [7.80e+01, 6.00e+00, 2.90e+00, 4.50e+00, 1.50e+00, 1.00e+00],
       [7.90e+01, 5.70e+00, 2.60e+00, 3.50e+00, 1.00e+00, 1.00e+00],
       [8.00e+01, 5.50e+00, 2.40e+00, 3.80e+00, 1.10e+00, 1.00e+00],
       [8.10e+01, 5.50e+00, 2.40e+00, 3.70e+00, 1.00e+00, 1.00e+00],
       [8.20e+01, 5.80e+00, 2.70e+00, 3.90e+00, 1.20e+00, 1.00e+00],
       [8.30e+01, 6.00e+00, 2.70e+00, 5.10e+00, 1.60e+00, 1.00e+00],
       [8.40e+01, 5.40e+00, 3.00e+00, 4.50e+00, 1.50e+00, 1.00e+00],
       [8.50e+01, 6.00e+00, 3.40e+00, 4.50e+00, 1.60e+00, 1.00e+00],
       [8.60e+01, 6.70e+00, 3.10e+00, 4.70e+00, 1.50e+00, 1.00e+00],
       [8.70e+01, 6.30e+00, 2.30e+00, 4.40e+00, 1.30e+00, 1.00e+00],
       [8.80e+01, 5.60e+00, 3.00e+00, 4.10e+00, 1.30e+00, 1.00e+00],
       [8.90e+01, 5.50e+00, 2.50e+00, 4.00e+00, 1.30e+00, 1.00e+00],
       [9.00e+01, 5.50e+00, 2.60e+00, 4.40e+00, 1.20e+00, 1.00e+00],
       [9.10e+01, 6.10e+00, 3.00e+00, 4.60e+00, 1.40e+00, 1.00e+00],
       [9.20e+01, 5.80e+00, 2.60e+00, 4.00e+00, 1.20e+00, 1.00e+00],
       [9.30e+01, 5.00e+00, 2.30e+00, 3.30e+00, 1.00e+00, 1.00e+00],
       [9.40e+01, 5.60e+00, 2.70e+00, 4.20e+00, 1.30e+00, 1.00e+00],
       [9.50e+01, 5.70e+00, 3.00e+00, 4.20e+00, 1.20e+00, 1.00e+00],
       [9.60e+01, 5.70e+00, 2.90e+00, 4.20e+00, 1.30e+00, 1.00e+00],
       [9.70e+01, 6.20e+00, 2.90e+00, 4.30e+00, 1.30e+00, 1.00e+00],
       [9.80e+01, 5.10e+00, 2.50e+00, 3.00e+00, 1.10e+00, 1.00e+00],
       [9.90e+01, 5.70e+00, 2.80e+00, 4.10e+00, 1.30e+00, 1.00e+00],
       [1.00e+02, 6.30e+00, 3.30e+00, 6.00e+00, 2.50e+00, 2.00e+00],
       [1.01e+02, 5.80e+00, 2.70e+00, 5.10e+00, 1.90e+00, 2.00e+00],
       [1.02e+02, 7.10e+00, 3.00e+00, 5.90e+00, 2.10e+00, 2.00e+00],
       [1.03e+02, 6.30e+00, 2.90e+00, 5.60e+00, 1.80e+00, 2.00e+00],
       [1.04e+02, 6.50e+00, 3.00e+00, 5.80e+00, 2.20e+00, 2.00e+00],
       [1.05e+02, 7.60e+00, 3.00e+00, 6.60e+00, 2.10e+00, 2.00e+00],
       [1.06e+02, 4.90e+00, 2.50e+00, 4.50e+00, 1.70e+00, 2.00e+00],
       [1.07e+02, 7.30e+00, 2.90e+00, 6.30e+00, 1.80e+00, 2.00e+00],
       [1.08e+02, 6.70e+00, 2.50e+00, 5.80e+00, 1.80e+00, 2.00e+00],
       [1.09e+02, 7.20e+00, 3.60e+00, 6.10e+00, 2.50e+00, 2.00e+00],
       [1.10e+02, 6.50e+00, 3.20e+00, 5.10e+00, 2.00e+00, 2.00e+00],
       [1.11e+02, 6.40e+00, 2.70e+00, 5.30e+00, 1.90e+00, 2.00e+00],
       [1.12e+02, 6.80e+00, 3.00e+00, 5.50e+00, 2.10e+00, 2.00e+00],
       [1.13e+02, 5.70e+00, 2.50e+00, 5.00e+00, 2.00e+00, 2.00e+00],
       [1.14e+02, 5.80e+00, 2.80e+00, 5.10e+00, 2.40e+00, 2.00e+00],
       [1.15e+02, 6.40e+00, 3.20e+00, 5.30e+00, 2.30e+00, 2.00e+00],
       [1.16e+02, 6.50e+00, 3.00e+00, 5.50e+00, 1.80e+00, 2.00e+00],
       [1.17e+02, 7.70e+00, 3.80e+00, 6.70e+00, 2.20e+00, 2.00e+00],
       [1.18e+02, 7.70e+00, 2.60e+00, 6.90e+00, 2.30e+00, 2.00e+00],
       [1.19e+02, 6.00e+00, 2.20e+00, 5.00e+00, 1.50e+00, 2.00e+00],
       [1.20e+02, 6.90e+00, 3.20e+00, 5.70e+00, 2.30e+00, 2.00e+00],
       [1.21e+02, 5.60e+00, 2.80e+00, 4.90e+00, 2.00e+00, 2.00e+00],
       [1.22e+02, 7.70e+00, 2.80e+00, 6.70e+00, 2.00e+00, 2.00e+00],
       [1.23e+02, 6.30e+00, 2.70e+00, 4.90e+00, 1.80e+00, 2.00e+00],
       [1.24e+02, 6.70e+00, 3.30e+00, 5.70e+00, 2.10e+00, 2.00e+00],
       [1.25e+02, 7.20e+00, 3.20e+00, 6.00e+00, 1.80e+00, 2.00e+00],
       [1.26e+02, 6.20e+00, 2.80e+00, 4.80e+00, 1.80e+00, 2.00e+00],
       [1.27e+02, 6.10e+00, 3.00e+00, 4.90e+00, 1.80e+00, 2.00e+00],
       [1.28e+02, 6.40e+00, 2.80e+00, 5.60e+00, 2.10e+00, 2.00e+00],
       [1.29e+02, 7.20e+00, 3.00e+00, 5.80e+00, 1.60e+00, 2.00e+00],
       [1.30e+02, 7.40e+00, 2.80e+00, 6.10e+00, 1.90e+00, 2.00e+00],
       [1.31e+02, 7.90e+00, 3.80e+00, 6.40e+00, 2.00e+00, 2.00e+00],
       [1.32e+02, 6.40e+00, 2.80e+00, 5.60e+00, 2.20e+00, 2.00e+00],
       [1.33e+02, 6.30e+00, 2.80e+00, 5.10e+00, 1.50e+00, 2.00e+00],
       [1.34e+02, 6.10e+00, 2.60e+00, 5.60e+00, 1.40e+00, 2.00e+00],
       [1.35e+02, 7.70e+00, 3.00e+00, 6.10e+00, 2.30e+00, 2.00e+00],
       [1.36e+02, 6.30e+00, 3.40e+00, 5.60e+00, 2.40e+00, 2.00e+00],
       [1.37e+02, 6.40e+00, 3.10e+00, 5.50e+00, 1.80e+00, 2.00e+00],
       [1.38e+02, 6.00e+00, 3.00e+00, 4.80e+00, 1.80e+00, 2.00e+00],
       [1.39e+02, 6.90e+00, 3.10e+00, 5.40e+00, 2.10e+00, 2.00e+00],
       [1.40e+02, 6.70e+00, 3.10e+00, 5.60e+00, 2.40e+00, 2.00e+00],
       [1.41e+02, 6.90e+00, 3.10e+00, 5.10e+00, 2.30e+00, 2.00e+00],
       [1.42e+02, 5.80e+00, 2.70e+00, 5.10e+00, 1.90e+00, 2.00e+00],
       [1.43e+02, 6.80e+00, 3.20e+00, 5.90e+00, 2.30e+00, 2.00e+00],
       [1.44e+02, 6.70e+00, 3.30e+00, 5.70e+00, 2.50e+00, 2.00e+00],
       [1.45e+02, 6.70e+00, 3.00e+00, 5.20e+00, 2.30e+00, 2.00e+00],
       [1.46e+02, 6.30e+00, 2.50e+00, 5.00e+00, 1.90e+00, 2.00e+00],
       [1.47e+02, 6.50e+00, 3.00e+00, 5.20e+00, 2.00e+00, 2.00e+00],
       [1.48e+02, 6.20e+00, 3.40e+00, 5.40e+00, 2.30e+00, 2.00e+00],
       [1.49e+02, 5.90e+00, 3.00e+00, 5.10e+00, 1.80e+00, 2.00e+00]])

# 
# 
# 
# 
# 
# 
#

In [43]:
def encode(x, positive, negative):
    if x == positive:
        return 1
    elif x == negative:
        return 0

In [36]:
household = pd.read_csv(r'./dataset/Makana Island Household Dataset.csv')

In [37]:
household.columns

Index(['Unnamed: 0', 'Country', 'District', 'Age', 'Occupation',
       'Economic Status', 'Pays Tax', 'Is District Urban', 'Owns A Business',
       'Annual Income (in USD)', 'Marital Status', 'Number of Children',
       'Number of Dependents', 'Owns a Car',
       'Subscribed to Island's Health Insurance Scheme', 'Luxury Items Owned',
       'Level of Education', 'Parents Literate?'],
      dtype='object')

In [38]:
household.drop(['Unnamed: 0', 'Country', 'District', 'Age', 'Occupation',
       'Economic Status',
       'Annual Income (in USD)', 'Marital Status', 'Number of Children',
       'Number of Dependents', 'Luxury Items Owned',
       'Level of Education'], axis = 1, inplace = True)

In [23]:
values = list(household.values)
values = [list(x) for x in values]

In [24]:
values[:5]

[[1, 0, 1, 1, 1, 1],
 [1, 1, 0, 1, 1, 0],
 [0, 0, 0, 0, 1, 1],
 [1, 1, 1, 1, 0, 1],
 [1, 1, 1, 0, 0, 1]]

In [25]:
for i in range(len(values)):
    for j in range(5):
        values[i][j] = str(values[i][j]) + ','

In [26]:
values[:5]

[['1,', '0,', '1,', '1,', '1,', 1],
 ['1,', '1,', '0,', '1,', '1,', 0],
 ['0,', '0,', '0,', '0,', '1,', 1],
 ['1,', '1,', '1,', '1,', '0,', 1],
 ['1,', '1,', '1,', '0,', '0,', 1]]

In [27]:
household_csv = open(r'./dataset/household_value_regression.csv', 'w')

In [28]:
for i in range(len(values)):
    for j in range(6):
        household_csv.write(str(values[i][j]))
    household_csv.write('\n')
household_csv.close()

In [29]:
household.head(1)

   Yes  Yes.1  Yes.2  No  Yes.3  Yes.4
0    1      0      1   1      1      1

In [30]:
newdf = pd.read_csv(r'./dataset/household_value_regression.csv')
newdf.head(3)

   1  0  1.1  1.2  1.3  1.4
0  1  1    0    1    1    0
1  0  0    0    0    1    1
2  1  1    1    1    0    1

In [31]:
# for column in newdf.columns:
  #  newdf[column] = [encode(x, 'Yes', 'No') for x in newdf[column]]

In [32]:
# Household data from the top is reassigned to newdf so that it can be rerun from the values cell and the values alone get written in the csv file
# household = newdf
# after running this cell, rerun all cells starting from the cell where the 'values' variable is created with this cell and the preceding one commented out

In [33]:
newdf.describe()

,1,0,1.1,1.2,1.3,1.4
count,153579.000000,153579.000000,153579.000000,153579.000000,153579.000000,153579.000000
mean,0.498974,0.601742,0.500153,0.498408,0.502022,0.697042
std,0.500001,0.489541,0.500002,0.499999,0.499998,0.459539
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [39]:
household.columns

Index(['Pays Tax', 'Is District Urban', 'Owns A Business', 'Owns a Car',
       'Subscribed to Island's Health Insurance Scheme', 'Parents Literate?'],
      dtype='object')